<strong> Hi, {{ student }}  </strong>
<p> Welcome to GYMPOINT! We are very happy to have you here with us.
  <p>In the following you will find information regarding your enrollment </p>
</p>

<p>
  <strong> Plan: </strong> {{ plan }} <br />
  <strong> Start date: </strong> {{ start }} <br />
  <strong> End date: </strong> {{ end }} <br />
  <strong> Total price: </strong> {{ price }} <br />
  <br />
  <small>
    If you have any questions please don't hesitate in contacting us, thank you!
  </small>
</p>

